<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

	<section class=github>
	<h2> GITHUB </h2>
  <section class="repo">
  <% if current_user.token %>
  	<h3> Repositories </h3>
		<% dash.generate_repo.take(5).each do |repo| %>
    		<%= link_to repo.name, repo.url %><br>
  	<% end %>
		<h3> Followers </h3>
		<section id=Followers>
		<% dash.generate_followers.take(5).each do |follower| %>
			<p>	<%= link_to follower.name, follower.url %><br>
				<% if follower.link %>
					<%= button_to "Add Friend", user_friends_path(username: follower.name, source: current_user.id), method: :post  %>
				<% end %>
			</p>
		<% end %>
		</section>
		<h3> Followings </h3>
		<section id='Followees'>
		<% dash.generate_followings.take(5).each do |followee| %>
			<p>	<%= link_to followee.name, followee.url %><br>
				<% if followee.link %>
          <%= button_to "Add Friend", user_friends_path(username: followee.name, source: current_user.id), method: :post  %>
        <% end %>
			</p>
		<% end %>
		</section>
  <% end %>
	</section>
  </section>
 

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
    <%= link_to "Connect to GitHub", github_login_path %>
  </section>
</section>

